[Desktop Entry]
Name=Hyprland Workspace Manager
Comment=Manage and name Hyprland workspaces
Exec=./launch.sh
Comment=Manage and name Hyprland workspaces
# Note: install.sh will automatically update the paths below for your system.
Icon=hypr-ws-manager
Terminal=false
Type=Application
Categories=Utility;System;
